@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url(https://fonts.googleapis.com/css2?family=DM+Sans&display=swap);
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
body {
  text-align: center;
  line-height: 1.6;
}

* {
  padding: auto;
  margin: auto;
}

.conatiner_1 {
  background-color: #FF8482;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 25px;
}

.container_2 {
  background-color: #FFF2DD;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
}

.container_3 {
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
}

.container_4 {
  background-color: #FFF2DD;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 25px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_5 {
  background: url(/images/Bitmap.png) no-repeat center center fixed;
  background-color: #3D201F;
  background-blend-mode: overlay;
  background-size: cover;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 448px;
}

footer {
  background-color: #BE6361;
  width: 100%;
}

.Container_6 {
  background-color: #A85756;
  padding: 25px;
}

.label {
  font-family: 'DM Sans';
  font-weight: '700';
  font-size: 24px;
}

.h1 {
  font-family: 'Alfa Slab One';
  font-weight: '400';
  font-size: 72px;
  color: #333333;
}

.H2 {
  font-family: 'Alfa Slab One';
  font-weight: '400';
  font-size: 56px;
  color: #ffffff;
}

.H3 {
  font-family: 'Alfa Slab One';
  font-weight: '400';
  font-size: 48px;
  color: #333333;
}

.H3_White {
  font-family: 'Alfa Slab One';
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  text-decoration: none;
}

.H5_White {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

.H4 {
  font-family: 'DM Sans';
  font-weight: '700';
  font-size: 24px;
  color: #333333;
}

.textred {
  font-family: 'DM Sans';
  font-weight: '400';
  font-size: 24px;
  color: #BE6361;
}

.text_big {
  font-family: 'DM Sans';
  font-weight: '400';
  font-size: 20px;
  color: #333333;
}

.text_bigWhite {
  font-family: 'DM Sans';
  font-weight: '400';
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

.text {
  font-family: 'DM Sans';
  font-weight: '700';
  font-size: 16px;
  color: #333333;
}

.text_grey {
  font-family: 'DM Sans';
  font-weight: '400';
  font-size: 16px;
  color: rgba(51, 51, 51, 0.5);
}

.text_greywhite {
  font-family: 'DM Sans';
  font-weight: '700';
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.textWhite {
  font-family: 'DM Sans';
  color: rgba(255, 255, 255, 0.5);
  font-weight: '700';
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
}

.text_buttonred {
  color: #ffffff;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.text_buttonWhite {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.buttonred {
  background-color: #BE6361;
  position: relative;
  text-align: center;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #ffffff;
  width: 170px;
  height: 48px;
  margin-top: 25px;
}

.buttonwhite {
  background-color: transparent;
  position: relative;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  height: 48px;
  width: 170px;
}

.button {
  background-color: white;
  position: relative;
  color: #333333;
  border: 3px solid #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  height: 48px;
  width: 170px;
  margin-top: 1rem;
}

.input {
  border-style: none;
  stroke: none;
  width: 270px;
  height: 48px;
  color: rgba(51, 51, 51, 0.5);
  font-size: 16px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-item-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-item-center {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-item-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-item-full {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

.flex-align-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.text-align {
  text-align: left;
}

.images {
  width: 50%;
}

.images1 {
  width: 100%;
}

.container_3 img {
  padding: 35px;
  border: 4px solid #e5e5e5;
}

.container_7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footerflex1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.footerflex2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footerflex3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footerflex4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sociam {
  margin-right: 15px;
}

.header {
  background-color: #FF8482;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  margin-left: 5rem;
  width: 150px;
}

.nav-item:hover {
  color: #333333;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media screen and (max-width: 575px) {
  .conatiner_1, .container_2, .container_3, .container_4, .container_5, .Container_6, .container_7 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #FF8482;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    border: 4px solid rgba(255, 255, 255, 0.5);
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 0rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 2.5rem;
  }
  .nav-item a:hover {
    padding: 2.5rem;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}
/*# sourceMappingURL=style.css.map */